RewriteEngine On
RewriteBase /admin/

# =========================
# Friendly admin URLs FIRST
# =========================

RewriteRule ^login/?$ login.php [L,QSA]
RewriteRule ^dashboard/?$ upload.php [L,QSA]
RewriteRule ^change-password/?$ change-password.php [L,QSA]
RewriteRule ^logout/?$ logout.php [L,QSA]

# =========================
# Generic .php remover LAST
# =========================

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.+)$ $1.php [L,QSA]
