RewriteEngine On
RewriteBase /admin/

# Remove .php extension
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_-]+)$ $1.php [L]

# Friendly names
RewriteRule ^login/?$ login.php [L]
RewriteRule ^dashboard/?$ upload.php [L]
RewriteRule ^change-password/?$ change-password.php [L]
RewriteRule ^logout/?$ logout.php [L]
